{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <h1>Edit Artist</h1>
    {{ include('artist/_form.html.twig', {'button_label': 'Update'}) }}

    <ul class="list list-inline">
        <li class="list-item-inline">
        
        </li>
        <li class="list-item-inline">
        <a href="{{ path('artist_index') }}" class="btn btn-primary">back to list</a>
        </li>
        <li class="list-item-inline">
        {{ include('artist/_delete_form.html.twig') }}
        </li>
    </ul>

    
{% endblock %}
