// ========================= MIXINS
@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  @mixin round-corner() {
    -webkit-border-radius: .3rem;
       -moz-border-radius: .3rem;
        -ms-border-radius: .3rem;
            border-radius: .3rem;
  }
  @mixin left-icon(){
     content: "\f248";
      font-family: FontAwesome;
      padding-right:.6em;
  }
  @mixin shadow(){
    box-shadow:1px 1px 3px rgba(black,.15);
  }
  @mixin button($color){
    background: $color;
    border:none;
    border-bottom:solid 4px darken($color, 10%);
    padding:.7em 3em;
    margin: 1em 0;
    color:white;
    text-shadow: 0 -1px 0 darken($color, 10%);
    font-size:1.1em;
    font-weight:bold;
    display:inline-block;
    width:auto;
    -webkit-border-radius: .5em;
       -moz-border-radius: .5em;
        -ms-border-radius: .5em;
            border-radius: .5em;
  }
  @mixin feedback($color, $icon: '\f06a'){
    background: lighten( $color, 20%);
    color:darken($color, 45%);
    margin:1em;
    padding: .5em .5em .5em 2em;
    border:solid 1px $color;
    &:before{
      content:$icon;
      font-family:fontawesome;
      color:darken($color, 20%);
      margin-left:-1.5em;
      margin-right:.5em;
    }
    li:before{
      border-left-color:lighten($color, 10%);
    }
  }