html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background:$base-color;
    font-family: 'Open Sans', arial, sans-serif;
    color:$primary-text;
    margin:0;
  }


/* typography */
a{
    text-decoration:none;
    color:inherit;
  }
  h2,
  h3,
  h4 {
    font-weight: 300;
    margin:0;
  }
  h2{
    color:darken($accent-positive, 15%);
  }
  b{
    color:$accent;
  }
  .hint{
    color:lightslategray;
  }
  /* lists */
  ul, li{
     list-style-type: none;
      margin: 0;
      padding: 0;
  }
  main{
      li {
        position: relative;
        padding-left: 1.2em;
        margin:.5em  0;
        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          left:0;
          top:.3em;
          border-left: solid 10px $accent-neutral;
          border-top: solid 5px transparent;
          border-bottom: solid 5px transparent;
        }
      }
  }


  /* tables */
table{
    border-collapse:collapse;
    width:96%;
    margin:2%;  
  }
  th {
    text-align: left; 
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    padding-bottom: 14px;
  }
  tr:not(:first-child):hover {
    background: rgba(0, 0, 0, 0.1);
  }
  td {
    line-height: 40px;
    font-weight: 300;  
    padding: 0 10px;
  }