// ===========================  colors 
// used for page bg
$base-color:#f1f2f7;
// used for panel bg 
$primary-color:white;
$primary-text:darkslategray;

$secondary-color: #2a3542;
$secondary-text:#ddd;

$tertiary-color:slategray;
$tertiary-text:#ddd;
$accent:lightsalmon;
$accent-neutral:#dde;
$accent-information:khaki;
$accent-positive:turquoise;
$accent-negative:lightsalmon;

//icons
$logout-icon:"\f08b";
$write-icon:"\f055";
$edit-icon:"\f040";
$comments-icon:"\f27b";
$user-icon:"\f007";
$dashboard-icon:"\f0e4";