{% extends 'base.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block body %}
    <h1>Edit Album</h1>

    {{ include('album/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('album_index') }}" class="btn btn-info">back to list</a>

    {{ include('album/_delete_form.html.twig') }}
{% endblock %}
