<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>

        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <!-- fontawesome JS -->
        <script src="https://use.fontawesome.com/f225000782.js"></script>
        

    </head>
    <body>

        {{ include('header.html.twig') }}
  
        <!-- content start -->
        <div class="main container-fluid">
        <div class="row d-flex d-md-block flex-nowrap wrapper">
            
            <!-- sidebar start -->
            {{ include('sidebar.html.twig') }}
            
            <!-- sidebar end -->
            <div class="container">
                <main class="col-md-9 float-left col px-5 pt-2 main">

                    {{ include('flash_messages.html.twig') }}
                    
                    {% block body %}{% endblock %}

                </main>
                        
            </div>
            
            
            </div>
        </div>
        

        <script src="{{ asset('build/app.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        {% block before_end_body %}{% endblock %}
    </body>
</html>