{# read and display just one flash message type #}
{% for message in app.flashes('notice') %}
    <div class="flash-notice alert alert-info">
        {{ message }}
    </div>
{% endfor %}

{# read and display several types of flash messages #}
{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-{{ label }}" >
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}