<!-- top navbar start -->
<nav class="navbar navbar-toggleable-sm navbar-light fixed-top  header">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img src="https://www.moat.ai/images/cropped-moat-logo-small.png" width="130" class="align-top" alt="Moat Builders"></a>
  
  
  {% if app.user %}
  <div class="mt-2 mt-md-0 ml-auto">
    <ul class="list list-inline">
        <li class="warn list-item">
          <a href="/user/{{ app.user.id }}" class="d-inline-block collapsed mt-3 btn btn-primary">
            <i class="fa fa-user"></i> <span>Hello, {{ app.user.username }}</span> 
          </a>
        </li>
    </ul>
  </div>
  {% endif%}

</nav>
<!-- top navbar end -->