<nav id="left-sidebar-open">
    <div class="float-left pl-0 pr-0 collapse width show" id="sidebar">
      <div class="list-group border-0 card text-center text-md-left">        
      
      {% if is_granted('IS_AUTHENTICATED_FULLY')%}
        <a href="{{ path('artist_index') }}" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar"><i class="fa fa-music"></i> <span>Artists</span> </a>
        <a href="{{ path('album_index') }}" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar"><i class="fa fa-bars"></i> <span>Albums</span> </a>
        <a href="{{ path('app_logout') }}" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar"><i class="fa fa-sign-out"></i> <span>Logout</span> </a>
        {% else %}

        <a href="{{ path('app_register') }}" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar"><i class="fa fa-sign-out"></i> <span>Register</span> </a>

        {% endif %}

      </div>
    
    </div>
    </nav>